{% extends "base.html" %}

{% block main %}
	<div class="d-flex justify-content-between">
		<div class="col-8">
			<div class="card">
				<div class="card-header d-flex justify-content-between">{{ post.category }}
					<div>
						{% if request.user == post.author %}
							<a href="{% url "cooking:post_update" pk=post.pk %}" class="btn btn-dark">Змінити</a>
							<a href="{% url "cooking:post_delete" pk=post.pk %}" class="btn btn-dark">Видалити</a>
						{% endif %}
						<a href="{% url "cooking:category_list" pk=post.category.pk %}" class="btn btn-dark">Назад</a>
					</div>
				</div>
				<img src="" class="card-img-top" alt="">
				<div class="card-body">
					{% if post.photo %}
						<img src="{{ post.photo.url }}" height="200" alt="">
					{% else %}
						<img src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="300" alt="">
					{% endif %}
					<h5 class="card-title">{{ post.title }}</h5>
					<p class="card-text">{{ post.content | linebreaks }}</p>
				</div>
				<div class="card-footer d-flex justify-content-between"><p class="card-text">{{ post.created_at }}</p>
					<a href="{% url "cooking:profile" post.author.pk %}">Автор статті: {{ post.author }}</a>
					<p class="card-text">{{ post.watched }}</p>
				</div>
			</div>
			<hr>

			<!--  reviews-->
			{% if request.user.is_authenticated %}
				<form action="{% url "cooking:add_comment" post.pk %}" method="post" , enctype="multipart/form-data">
					{% csrf_token %}
					{% include "components/_form_errors.html" %}
					{{ comment_form.text }}
					<button class="btn btn-dark" type="submit">Додати коментарій</button>
				</form>
			{% endif %}
			{% for comment in comments %}
				<div class="card mt-2">
					<div class="card-header d-flex justify-content-between">
						<h5><span>{{ comment.user }}</span></h5>
						<span class="text-muted small align-self-end">{{ comment.created_at }}</span>
					</div>
					<div class="card-body">
						<p class="card-text">{{ comment.text }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<!--  Recommendation-->
		<div class="col-1"></div>
		<div class="col-4">
			{% for post_rec in recommend %}
				<div class="card" style="width: 18rem;">
					{% if post_rec.photo %}
						<img src="{{ post_rec.photo.url }}" width="200" alt="">
					{% else %}
						<img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg"
						     width="200"
						     alt="">
					{% endif %}
					<div class="card-body"><h5 class="card-title">{{ post_rec.title }}</h5><a
							href="{{ post_rec.get_absolute_url }}" class="btn btn-primary">Детальніше</a></div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}